<div class="media">
  <div class="media-body">
    <small>
      <%= commented.user.name %> commented <%= time_ago_in_words(commented.created_at) %> ago
      <% if user_is_authorized_for_comment?(comment) %>
        <%= link_to 'Delete', [@post, comment], method: :delete %>
      <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
</div>
