<h1>About Bloccit</h1>
<p>Details, details, details</p>
<p>more to come</p>

<button class='social-btn'><%= link_to 'Follow me down the rabbit hole', 'http://advrider.com/index.php', target: '_blank' %></button>
