<div class="row">
  <div class="col-md-4">
    <p>Sponsored Posts Etiquette</p>
    <ul>
      <li>Make sure it rhymes</li>
      <li>Don't use the letter 'A'</li>
      <li>Use of Hashtags strictly forbidden</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic, sponsored_post: @sponsored_post } %>
  </div>
</div>


